<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    {{!-- <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#menu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div> --}}
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Kodr</a>
    </div>
    
    <ul class="nav navbar-nav">
    	<li><a href="#">Arenas</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {{#if current_user.email}}
        <li>
          <a href=""><i class="fa fa-user"></i> <samp>{{current_user.username}}</samp></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-sign-out"></i> Logout</a>
        </li>
      {{else}}
        <li>
          <a href="#"><i class="fa fa-user-plus"></i> Sign Up</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-sign-in"></i> Login</a>
        </li>
      {{/if}}
      
    </ul>
    </div>
</nav>
<div class="container">
	<h2>Welcome to Kodr</h2>
  	{{outlet}}
    {{login-page store=store}}
	<div class="page-header">
    <h3>Arenas</h3>
  </div>
	<div class="row">
		<div class="col-md-12">
			<div class="list-group">
				{{#each model as |arena|}}
					{{arena-item arena=arena}}
				{{/each}}
			</div>
		</div>
	</div>
	
</div>


